* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #8ff5eb;
    color: rgb(62, 62, 32);
}

h1{
    display: inline-block;
    font-size: 45px;
    /* border-bottom: 5px dotted blue; */
    
}
.container {
    height: 70vh;
    display: flex;

    /* width: 80vw; */
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.btn {
    height: 18vmin;
    width: 18vmin;
    gap: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow:0 0 1rem rgb(25, 17, 17) ;
    font-size: 4rem;
    background-color: #3a3f58;
    color: rgb(214, 199, 31);
    cursor: pointer;
}

#show{
    display: inline-block;
    width: 280px;
    margin-top: 15px;
    font-size: 23px;
    /* background-color: #db9018; */
    color: #6c1f7b;
    font-weight: 800;
}

#draw{
     display: inline-block;
    width: 280px;
    margin-top: 15px;
    font-size: 23px;
    /* background-color: #db9018; */
    color: #6c1f7b;
    font-weight: 800;
}

#newbtn{
    margin-top: 20px;
    height: 30px;
    width: 150px;
    background-color: #3193d0;
    border-radius: 30px;
    border: none;
    color: hsl(215, 84%, 25%);
    font-size: 1.2rem;
    font-family: Arial;
    font-weight: 600;
}
#reset{
    height: 30px;
    width: 200px;
    background-color: #d64545;
    color: white;
    border-radius: 30px;
    border: none;
    font-size:1.2rem;
    font-weight: 700;
}

.hide{
    display: none;
}